.container-auth{
    background-color: rgb(170, 144, 59);
    margin-top: 10px;
    opacity: 0.85;
    border-radius: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

.title-auth{
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 30px;
    padding-top: 20px;
}

.card-body {
    border-radius: 20px;
    background-color: rgb(170, 144, 59);
}

.row-auth:after {
    content: "";
    display: table;
    clear: both;
    }

.col-name {
    margin-left: 50px;
    width: 35%;
    margin-top: 6px;
    margin-right: 10px;
    }
    
.col-field {
    margin-left: 50px;
    width: 100%;
    margin-top: 6px;

}

.mb-auth{
    color: #f0f0f0;
    margin-left: 10px;
    font-size:large;
  }

.form-auth{
    
    border: none;
    border-bottom: 1px groove black;

}

input[type=password]:focus {
    border: 3px solid #555;
}

input[type=auth]:focus {
    border: 3px solid #555;
}


.invalidlogin {
    color: rgb(22, 3, 233);
    margin-top: 10px;
    margin-left: 15px;
}

.btn-Payment{
    background-color:rgb(212, 175, 7);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    border-radius: 5%;
    border-color: rgb(212, 175, 7);

}
